@import url(./normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap");
.hero__main-title, .about-beats__title, .team__title, .colors__title, .reviews__title, .video-block__title, .delivery__title {
  font-size: 3rem;
  line-height: 3.25rem;
  text-transform: uppercase; }

html {
  height: 100%;
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 14px; } }

* {
  box-sizing: border-box; }

h1,
h2,
h3 {
  margin-top: 0; }

a {
  color: inherit;
  text-decoration: none; }

img {
  display: block;
  max-width: 100%; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

p {
  margin: 0;
  padding: 0; }

body {
  height: 100%;
  font-family: 'Play', Arial, sans-serif;
  color: #292929;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative; }

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto; }

.section {
  height: 100vh;
  min-height: 40.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.hero {
  background-color: #f5f5f5;
  background-image: url("../img/beats.png");
  background-repeat: no-repeat;
  background-position: left 75% center; }
  @media screen and (max-width: 768px) {
    .hero {
      background-image: none;
      position: relative; }
      .hero:before {
        content: url("../img/beats-tablets.png");
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%);
        display: block; } }

@media screen and (max-width: 768px) {
  .hero__main-title {
    padding: 0 8%; } }

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 1.25rem;
  padding-bottom: 3.75rem; }

.hero__promo {
  width: 46%;
  margin-bottom: 4.375rem; }
  @media screen and (max-width: 768px) {
    .hero__promo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      text-align: center; } }

.hero__text {
  padding-right: 23%;
  margin-bottom: 2.8125rem;
  font-size: 1.3125rem;
  line-height: 1.5625rem;
  font-family: 'Alegreya Sans', sans-serif; }
  @media screen and (max-width: 768px) {
    .hero__text {
      text-align: center;
      padding: 0 25%; } }
  @media screen and (max-width: 480px) {
    .hero__text {
      padding: 0 18%; } }

.hero__features {
  display: flex;
  gap: 0.625rem; }
  @media screen and (max-width: 768px) {
    .hero__features {
      display: none; } }

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.125rem; }

@media screen and (max-width: 768px) {
  .menu {
    display: none; } }
.menu__link {
  white-space: nowrap; }
.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  margin: 0 30px;
  font-family: 'Alegreya Sans'; }

.btn {
  background-color: #e01f3d;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.125rem;
  padding: 1.25rem 2.5rem;
  border-radius: 6.25rem; }

.features__item {
  display: flex;
  max-width: 10rem;
  gap: 0.625rem;
  line-height: 1.125rem; }

.features__icon-block {
  width: 2.5625rem;
  height: 2.5625rem; }

.feature__icon {
  fill: #000; }

.about-beats {
  display: flex;
  justify-content: flex-start;
  padding: 3.5714rem 0.7143rem; }

@media screen and (max-width: 768px) {
  .about-beats__title {
    font-size: 2.2857rem; } }
@media screen and (max-width: 480px) {
  .about-beats__title {
    font-size: 2.1333rem;
    margin-left: -5%; } }

.about-beats__block {
  width: 36.875rem;
  margin: 0 auto;
  margin-bottom: 3.75rem;
  text-align: center; }

@media screen and (max-width: 480px) {
  .about-beats__container {
    display: flex;
    flex-direction: column; } }

.about-beats__desc {
  color: #666666;
  margin-bottom: 25%; }
  @media screen and (max-width: 480px) {
    .about-beats__desc {
      width: 430px;
      margin-bottom: 0;
      padding-left: 10%; } }

.about-beats__features-list {
  display: flex;
  gap: 4%; }
  @media screen and (max-width: 768px) {
    .about-beats__features-list {
      gap: 1%; } }
  @media screen and (max-width: 480px) {
    .about-beats__features-list {
      flex-direction: column; } }

.about-beats__item {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  position: relative; }
  .about-beats__item:last-child:before {
    display: none; }
  .about-beats__item:before {
    content: url("../img/separator.png");
    position: absolute;
    top: 2.5rem;
    right: -7%;
    transform: translateX(50%); }
    @media screen and (max-width: 768px) {
      .about-beats__item:before {
        display: none; } }

@media screen and (max-width: 480px) {
  .feature {
    flex-direction: row;
    gap: 2%;
    margin-bottom: 10%; } }

.feature__title {
  text-align: center;
  font-size: 1.5rem; }

.feature__text {
  text-align: center;
  padding: 0 0.9375rem;
  color: #666666; }
  @media screen and (max-width: 768px) {
    .feature__text {
      padding: 0; } }
  @media screen and (max-width: 480px) {
    .feature__text {
      width: 19.2857rem;
      text-align: left; } }

.feature__img-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 1.25rem;
  width: 8.125rem;
  height: 8.125rem;
  border-radius: 50%;
  background-color: #f5f5f5; }

.feature__img {
  fill: #000;
  width: 4.25rem;
  height: 4.25rem; }

.good-card {
  background-color: #f8faf9; }

.good-card__block {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
  flex-basis: 26.25rem; }
  @media screen and (max-width: 768px) {
    .good-card__block {
      align-items: center; } }
  @media screen and (max-width: 480px) {
    .good-card__block {
      align-items: center; } }

.good-card__img-block {
  width: 5.625rem;
  height: 5.625rem;
  background-color: #9a9a9a;
  background-image: url("../img/gear.png");
  background-repeat: no-repeat;
  background-position: center center; }
  @media screen and (max-width: 768px) {
    .good-card__img-block {
      display: none; } }

.good-card__title {
  font-size: 2.25rem;
  line-height: 2.625rem;
  text-transform: uppercase; }
  @media screen and (max-width: 480px) {
    .good-card__title {
      text-align: center; } }

.good-card__container {
  display: flex;
  gap: 3.75rem;
  padding-top: 6.25rem;
  padding-bottom: 7.5rem; }
  @media screen and (max-width: 768px) {
    .good-card__container {
      flex-direction: column;
      align-items: center; } }
  @media screen and (max-width: 480px) {
    .good-card__container {
      justify-content: flex-start; } }

.good-card__photo-block {
  flex-basis: 28.125rem; }
  @media screen and (max-width: 480px) {
    .good-card__photo-block {
      width: 21.8571rem;
      max-height: 21.8571rem;
      padding-bottom: 0; } }

.good-card__desc {
  color: #666666;
  padding-right: 10%; }
  @media screen and (max-width: 768px) {
    .good-card__desc {
      padding: 0 10%;
      text-align: center; } }

.good-card__parameters {
  display: flex;
  justify-content: space-around; }
  @media screen and (max-width: 768px) {
    .good-card__parameters {
      min-width: 300px; } }

.good-card__parameter {
  padding-right: 10%; }
  .good-card__parameter:last-child {
    padding-right: 0; }

.good-card__num {
  font-weight: 700;
  font-size: 1.125rem;
  color: #000; }

.good-card__text {
  color: #666666; }

.good-card__price {
  color: #151515;
  font-size: 2.25rem;
  line-height: 3.75rem; }
  @media screen and (max-width: 768px) {
    .good-card__price {
      padding-right: 5%; } }

.good-card__order {
  display: flex;
  gap: 0.9375rem; }
  @media screen and (max-width: 768px) {
    .good-card__order {
      width: 22.5rem;
      justify-content: space-between; } }

.team__container {
  padding-top: 4.6875rem; }

.team__title {
  text-align: center; }

.team__list {
  display: flex;
  justify-content: space-between; }

.team__card {
  width: 13.75rem;
  min-height: 28.4375rem;
  text-align: center; }
  .team__card:hover .team__member-block, .team__card--active .team__member-block {
    display: block; }

.team-member__name {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  margin-right: 4px; }

.team-member__pic-block {
  margin-bottom: 1.5625rem; }

.team-member__desc {
  color: #666666; }

.team-member__operat {
  padding: 0 2.4375rem; }

.team-member__block {
  display: none; }

.team-member__open-btn {
  padding: 0;
  background: none;
  border: 8px solid transparent;
  width: 0;
  height: 0;
  border-top-color: #e01f3d;
  border-bottom-width: 0;
  border-right-width: 4px;
  border-left-width: 4px; }
  .team-member__open-btn--opened {
    padding: 0;
    background: none;
    border: 8px solid transparent;
    width: 0;
    height: 0;
    border-bottom-color: #e01f3d;
    border-top-width: 0;
    border-right-width: 4px;
    border-left-width: 4px; }

.team-member__wrapper {
  display: flex;
  justify-content: center;
  align-items: center; }

.colors {
  background-image: url("../img/colors.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 20%;
  height: 100vh;
  color: #fff;
  display: none; }
  .colors__container {
    padding-top: 7.1875rem; }
  .colors__list {
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 40.75rem;
    top: 24.3%;
    right: -8.27%;
    transform: rotate(270deg);
    font-size: 2.25rem;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 700; }
  .colors__wrapper {
    position: relative; }
  .colors__item {
    display: flex;
    padding: 1.875rem 2.1875rem;
    width: 100%;
    height: auto; }
    .colors__item--red {
      background-color: #e01f3d; }
    .colors__item--black {
      background-color: #000; }
    .colors__item--silver {
      background-color: #999999; }

.reviews {
  padding: 4.0625rem 0; }
  .reviews__container {
    padding: 2.625rem; }
  .reviews__title {
    text-align: center; }
  .reviews__block {
    display: none; }
    .reviews__block--active {
      display: block; }
  .reviews__wrapper {
    display: flex;
    gap: 2.5rem;
    margin-bottom: 1.25rem;
    padding: 2.625rem;
    background-color: #f8faf9; }
    @media screen and (max-width: 768px) {
      .reviews__wrapper {
        flex-direction: column;
        align-items: center; } }
  .reviews__right-wrapper {
    flex: 1;
    padding-top: 2.1875rem;
    padding-right: 2.5rem; }
    @media screen and (max-width: 768px) {
      .reviews__right-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center; } }
  .reviews__text {
    color: #666666;
    margin-bottom: 2.375rem; }
    @media screen and (max-width: 768px) {
      .reviews__text {
        text-align: center; } }
  .reviews__subtitle {
    color: #000;
    font-size: 1.5rem;
    font-weight: 700; }
    @media screen and (max-width: 768px) {
      .reviews__subtitle {
        text-align: center; } }
  .reviews__author {
    font-size: 1.125rem;
    font-weight: 700; }
  .reviews__img-block {
    width: 15.8125rem;
    height: 16.5rem; }
    @media screen and (max-width: 768px) {
      .reviews__img-block {
        display: flex;
        justify-content: center;
        width: 8.125rem;
        height: 8.125rem; } }
  .reviews__img {
    object-fit: cover;
    width: 100%;
    height: 100%; }
  .reviews__switcher-container {
    display: flex;
    justify-content: center; }
  .reviews__switcher {
    display: flex; }

.switcher__item {
  width: 4.625rem;
  height: 4.625rem;
  border: 4px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative; }
  .switcher__item--active {
    border-color: #e01f3d; }
.switcher__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
.switcher__img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%; }

.video-block {
  background-color: #f8faf9; }
  .video-block__title {
    text-align: center;
    margin-bottom: 2.5rem; }
  .video-block__container {
    padding-top: 3.625rem;
    padding-bottom: 6.625rem; }
  .video-block__wrapper {
    display: flex;
    justify-content: center; }

.delivery {
  background-image: url("../img/background-form.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff; }
  .delivery__container {
    padding-top: 4.0625rem; }
  .delivery__title {
    text-align: center;
    margin-bottom: 3.75rem; }
  .delivery__form {
    display: flex;
    gap: 1.25rem; }
    @media screen and (max-width: 768px) {
      .delivery__form {
        flex-direction: column;
        padding: 0 19%; } }
    @media screen and (max-width: 480px) {
      .delivery__form {
        padding: 0; } }

.form__column {
  flex: 1; }
.form__row {
  display: flex;
  gap: 1.25rem;
  margin-bottom: 0.9375rem; }
  .form__row:last-child {
    margin-bottom: 0; }
.form__block {
  flex: 1; }
.form__input {
  width: 100%;
  border: 3px solid transparent;
  border-radius: 5px;
  padding: 1rem 0.75rem; }
  .form__input--active, .form__input:focus {
    border-color: #e01f3d;
    outline: none; }
  .form__input--textarea {
    height: 9.5rem;
    resize: none; }
.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2.5rem; }
  @media screen and (max-width: 480px) {
    .form__controls {
      justify-content: center; } }
.form__btn-order {
  border: none; }
.form__reset {
  border: none;
  background-color: transparent;
  text-transform: capitalize;
  font-weight: 400;
  color: #fff; }
  @media screen and (max-width: 768px) {
    .form__reset {
      color: #e01f3d; } }
@media screen and (max-width: 768px) {
  .form__buttons {
    display: flex;
    justify-content: center;
    gap: 2%; } }

.controls__label {
  display: flex;
  cursor: pointer;
  margin-right: 1.25rem; }
  .controls__label:last-child {
    margin-right: 0; }
.controls__elem {
  display: none; }
  .controls__elem:checked ~ .controls__visible::before {
    display: block; }
.controls--radio {
  margin-bottom: 18px; }
.controls__visible {
  width: 1.5625rem;
  height: 1.5625rem;
  position: relative;
  margin-right: 0.3125rem;
  border-radius: 50%;
  background-color: #fff; }
  .controls__visible::before {
    content: "";
    display: none;
    width: 0.8125rem;
    height: 0.8125rem;
    background-color: #e01f3d;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .controls__visible--checkbox {
    border-radius: 0; }
    .controls__visible--checkbox:before {
      background: url("../img/checkmark.png") no-repeat center; }

.map {
  position: relative; }
  .map__img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%; }

.page-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff; }
  .page-footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5.625rem;
    font-size: 1.125rem; }
    @media screen and (max-width: 480px) {
      .page-footer__container {
        flex-direction: column;
        padding: 0.8571rem 0;
        gap: 0.8571rem; } }
  @media screen and (max-width: 480px) {
    .page-footer__address {
      margin-bottom: 0.8571rem; } }

.share {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 10.9375rem; }

.share__link {
  display: block;
  width: 1.875rem;
  height: 1.875rem; }

.share__img {
  fill: #b3b3b3; }
  .share__img:hover {
    fill: #000; }

.tel {
  display: flex;
  gap: 0.3125rem;
  align-items: center;
  position: relative; }
  @media screen and (max-width: 768px) {
    .tel--footer {
      padding-left: 8%; } }
  @media screen and (max-width: 480px) {
    .tel {
      justify-content: center;
      padding: 0; } }
  @media screen and (max-width: 480px) {
    .tel::before {
      display: none; } }
  .tel__icon {
    fill: #000; }
    @media screen and (max-width: 768px) {
      .tel__icon {
        display: none; } }
    @media screen and (max-width: 768px) {
      .tel__icon--red {
        display: block;
        fill: #e01f3d; } }
    @media screen and (max-width: 480px) {
      .tel__icon--red {
        display: block;
        fill: #000; } }
  .tel__number {
    white-space: nowrap; }
    @media screen and (max-width: 768px) {
      .tel__number--header {
        display: none; } }
    @media screen and (max-width: 768px) {
      .tel__number--footer {
        color: #e01f3d; } }
    @media screen and (max-width: 480px) {
      .tel__number--footer {
        color: #000; } }

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%; }
  @media screen and (max-width: 768px) {
    .fixed-menu {
      display: none; } }
  .fixed-menu__item {
    margin-bottom: 5px; }
    .fixed-menu__item:last-child {
      margin-bottom: 0; }
    .fixed-menu__item--active .fixed-menu__link {
      border-color: #e01f3d; }
      .fixed-menu__item--active .fixed-menu__link:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 0.5625rem;
        height: 0.5625rem;
        border-radius: 50%;
        background-color: #e01f3d; }
  .fixed-menu__link {
    position: relative;
    display: block;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 50%;
    border: 1px solid transparent; }
    .fixed-menu__link:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 0.5625rem;
      height: 0.5625rem;
      border-radius: 50%;
      background-color: #9a9a9a; }

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 3%;
  right: 6%;
  width: 26px;
  height: 24px; }
  @media screen and (max-width: 768px) {
    .hamburger {
      display: inline-flex; } }
  .hamburger__plank {
    background-color: #000;
    display: block;
    border-radius: 10px;
    height: 4px; }

/*# sourceMappingURL=main.css.map */
