.about-beats {
    display: flex;
    justify-content: flex-start;
    padding: 3.5714rem 0.7143rem;
}

.about-beats__title {
    @extend %title;

    @include tablets {
        font-size: 2.2857rem;
    }

    @include mobiles {
        font-size: 2.1333rem;
        margin-left: -5%;
    }
}

.about-beats__block {
    width: 36.875rem;
    margin: 0 auto;
    margin-bottom: 3.75rem;
    text-align: center;

}

.about-beats__container {

    @include mobiles {
        display: flex;
        flex-direction: column;
    }
}

.about-beats__desc {
    color: $light-grey;
    margin-bottom: 25%;

    @include mobiles {
        width: 430px;
        margin-bottom: 0;
        padding-left: 10%;
    }
}

.about-beats__features-list {
    display: flex;
    gap: 4%;

    @include tablets {
        gap: 1%;
    }

    @include mobiles {
        flex-direction: column;
    }
}

.about-beats__item {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    position: relative;

    &:last-child {
        
        &:before {
            display: none;
        }
    }

    &:before {
        content: url("../img/separator.png");
        position: absolute;
        top: 2.5rem;
        right: -7%;
        transform: translateX(50%);

        @include tablets {
            display: none;
        }
    }
    
}