.colors {
    background-image: url('../img/colors.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 20%;
    height: 100vh;
    color: $white;
    display: none;

    &__title {
        @extend %title;
    }

    &__container {
        padding-top: 7.1875rem;
    }

    &__list {
        position: absolute;
        display: flex;
        flex-direction: column;
        min-width: 40.75rem;
        top: 24.3%;
        right: -8.27%;
        transform: rotate(270deg);
        font-size: 2.25rem;
        font-family: 'Alegreya Sans', sans-serif;
        font-weight: 700;
    }

    &__wrapper {
        position: relative;
    }

    &__item {
        display: flex;
        padding: 1.875rem 2.1875rem;
        width: 100%;
        height: auto;

        &--red {
            background-color: $red;
        }

        &--black {
            background-color: $black;
        }

        &--silver {
            background-color: $grey1;
        }
    }
}