.controls {
    &__label {
        display: flex;
        cursor: pointer;
        margin-right: 1.25rem;

        &:last-child {
            margin-right: 0;
        }
    }

    &__elem {
        display: none;

        &:checked ~ .controls__visible {
            &::before {
                display: block;
            }
        }
    }

    &--radio {
        margin-bottom: 18px;
    }

    &__visible {
        width: 1.5625rem;
        height: 1.5625rem;
        position: relative;
        margin-right: 0.3125rem;
        border-radius: 50%;
        background-color: $white;

        &::before {
            content: "";
            display: none;
            width: 0.8125rem;
            height: 0.8125rem;
            background-color: $red;
            position: absolute;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &--checkbox {
            border-radius: 0;

            &:before {
                background: url('../img/checkmark.png') no-repeat center;
            }
        }
    }
}