.feature {
    @include mobiles {
        flex-direction: row;
        gap: 2%;
        margin-bottom: 10%;
    }
}
.feature__title {
    text-align: center;
    font-size: 1.5rem;
}

.feature__text {
    text-align: center;
    padding: 0 0.9375rem;
    color: $light-grey;

    @include tablets {
        padding: 0;
    }

    @include mobiles {
        width: 19.2857rem;
        text-align: left;
    }
}

.feature__img-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 1.25rem;
    width: 8.125rem;
    height: 8.125rem;
    border-radius: 50%;
    background-color: $grey;
}

.feature__img {
    fill: $black;
    width: 4.25rem;
    height: 4.25rem;
}