.features__item {
    display: flex;
    max-width: 10rem;
    gap: 0.625rem;
    line-height: 1.125rem;
}

.features__icon-block {
    width: 2.5625rem;
    height: 2.5625rem;
}

.feature__icon {
    fill: $black;
}
