.fixed-menu {
    position: fixed;
    top: 20%;
    right: 3%;

    @include tablets {
        display: none;
    }

    &__item {
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0;
        }

        &--active {
            .fixed-menu__link {
                border-color: $red;

                &:before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: block;
                    width: 0.5625rem;
                    height: 0.5625rem;
                    border-radius: 50%;
                    background-color: $red;
                }
            }
        }
    }

    &__link {
        position: relative;
        display: block;
        width: 1.125rem;
        height: 1.125rem;
        border-radius: 50%;
        border: 1px solid transparent;

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            width: 0.5625rem;
            height: 0.5625rem;
            border-radius: 50%;
            background-color: $dark-grey;
        }
    }
}