.form {
    &__column {
        flex: 1;
    }

    &__row {
        display: flex;
        gap: 1.25rem;
        margin-bottom: 0.9375rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__block {
        flex: 1;
    }

    &__input {
        width: 100%;
        border: 3px solid transparent;
        border-radius: 5px;
        padding: 1rem 0.75rem;

        &--active,
        &:focus {
            border-color: $red;
            outline: none;
        }

        &--textarea {
            height: 9.5rem;
            resize: none;
        }
    }

    &__controls {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2.5rem;

        @include mobiles {
            justify-content: center;
        }
    }

    &__btn-order {
        border: none;
    }

    &__reset {
        border: none;
        background-color: transparent;
        text-transform: capitalize;
        font-weight: 400;
        color: $white;

        @include tablets {
            color: $red;
        }
    }

    &__buttons {
        @include tablets {
            display: flex;
            justify-content: center;
            gap: 2%;
        }
    }
}