.good-card {
    background-color: $grey-medium;
}

.good-card__block {
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;
    flex-basis: 26.25rem;

    @include tablets {
        align-items: center;
    }

    @include mobiles {
        align-items: center;
    }
}

.good-card__img-block {
    width: 5.625rem;
    height: 5.625rem;
    background-color: $dark-grey;
    background-image: url('../img/gear.png');
    background-repeat: no-repeat;
    background-position: center center;

    @include tablets {
        display: none;
    }
}

.good-card__title {
    font-size: 2.25rem;
    line-height: 2.625rem;
    text-transform: uppercase;

    @include mobiles {
        text-align: center;
    }    
}

.good-card__container {
    display: flex;
    gap: 3.75rem;
    padding-top: 6.25rem;
    padding-bottom: 7.5rem;

    @include tablets {
        flex-direction: column;
        align-items: center;
    }

    @include mobiles {
       justify-content: flex-start;
    }
}

.good-card__photo-block {
    flex-basis: 28.125rem;

    @include mobiles {
        width: 21.8571rem;
        max-height: 21.8571rem;
        padding-bottom: 0;
    }
}

.good-card__desc {
    color: $light-grey;
    padding-right: 10%;

    @include tablets {
        padding: 0 10%;
        text-align: center;
    }
}

.good-card__parameters {
    display: flex;
    justify-content: space-around;

    @include tablets {
        min-width: 300px;
    }
}

.good-card__parameter {
    padding-right: 10%;

    &:last-child {
        padding-right: 0;
    }
}

.good-card__num {
    font-weight: 700;
    font-size: 1.125rem;
    color: $black;
}

.good-card__text {
    color: $light-grey;
}

.good-card__price {
    color: $black-2;
    font-size: 2.25rem;
    line-height: 3.75rem;
    
    @include tablets {
       padding-right: 5%;
    }
}

.good-card__order {
    display: flex;
    gap: 0.9375rem;

    @include tablets {
        width: 22.5rem;
        justify-content: space-between;
    }
}