.good-card {
    background-color: $grey-medium;
}

.good-card__block {
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex-basis: 420px;
}

.good-card__img-block {
    width: 90px;
    height: 90px;
    background-color: $dark-grey;
    background-image: url('../img/gear.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.good-card__title {
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
}

.good-card__container {
    display: flex;
    gap: 60px;
    padding-top: 100px;
    padding-bottom: 120px;
}

.good-card__photo-block {
    flex-basis: 450px;
}

.good-card__desc {
    color: $light-grey;
    padding-right: 10%;
}

.good-card__parameters {
    display: flex;
    gap: 45px;
}

.good-card__parameter {
    padding-right: 10%;

    &:last-child {
        padding-right: 0;
    }
}

.good-card__num {
    font-weight: 700;
    font-size: 18px;
    color: $black;
}

.good-card__text {
    color: $light-grey;
}

.good-card__price {
    color: $black-2;
    font-size: 36px;
    line-height: 60px;
}

.good-card__order {
    display: flex;
    gap: 15px;
}