.page-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $white;
    
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 5.625rem;
        font-size: 1.125rem;

        @include mobiles {
            flex-direction: column;
            padding: 0.8571rem 0;
            gap: 0.8571rem;
        }
    }

    &__address {
        @include mobiles {
            margin-bottom: 0.8571rem;
        }
    }
}