.share {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 10.9375rem;
}

.share__link {
    display: block;
    width: 1.875rem;
    height: 1.875rem;
}

.share__img {
    fill: $grey-social;
}