.team-member__name {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.3125rem;
    margin-right: 4px;
}

.team-member__pic-block {
    margin-bottom: 1.5625rem;
}

.team-member__desc {
    color: $light-grey;
}

.team-member__operat {
    padding: 0 2.4375rem;
}

.team-member__block {
    display: none;
}

.team-member__open-btn {
    padding: 0;
    background: none;
    border: 8px solid transparent;
    width: 0;
    height: 0;
    border-top-color: $red;
    border-bottom-width: 0;
    border-right-width: 4px;
    border-left-width: 4px;

    &--opened {
        padding: 0;
        background: none;
        border: 8px solid transparent;
        width: 0;
        height: 0;
        border-bottom-color: $red;
        border-top-width: 0;
        border-right-width: 4px;
        border-left-width: 4px;
    }
}

.team-member__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}