.team__container {
    padding-top: 4.6875rem;
}

.team__title {
    @extend %title;
    text-align: center;
}

.team__list {
    display: flex;
    justify-content: space-between;
}

.team__card {
    width: 13.75rem;
    min-height: 28.4375rem;
    text-align: center;

    &:hover,
    &--active {
        .team__member-block {
            display: block;
        }
    }
}
