.tel {
    display: flex;
    gap: 0.3125rem;
    align-items: center;
    position: relative;

    @include tablets {
        
        &--footer {
            padding-left: 8%;
        }
    }

    @include mobiles {
        justify-content: center;
        padding: 0;
    }


    @include mobiles {
        &::before {
            display: none;
        }
    }


    &__icon {
        fill: $black;
        
        @include tablets {
            display: none;
        }
        
        &--red {
            @include tablets {
                display: block;
                fill: $red;
            }
            
            @include mobiles {
                display: block;
                fill: $black;
            }
        }
    }

    &__number {
        white-space: nowrap;
        
        
        &--header {
        
            @include tablets {
            display: none;
        }
    }
        &--footer {
            
            @include tablets {
                color: $red;
            }


            @include mobiles {
                color: $black;
            }
        }
    }
}