.video-block {
    background-color: $grey-medium;

    &__title {
        @extend %title;
        text-align: center;
        margin-bottom: 2.5rem;
    }

    &__container {
        padding-top: 3.625rem;
        padding-bottom: 6.625rem;
    }

    &__wrapper {
        display: flex;
        justify-content: center;
    }
}
