.video-block {
    background-color: $grey-medium;

    &__title {
        @extend %title;
        text-align: center;
        margin-bottom: 40px;
    }

    &__container {
        padding-top: 58px;
        padding-bottom: 106px;
    }

    &__wrapper {
        display: flex;
        justify-content: center;
    }
}
